body {
	margin: 0;
	padding: 0;
}

main {
	/* box-sizing: border-box; */
	display: flex;
	flex-direction: column;
	padding: 8px;
	row-gap: 8px;
}

.auth-form-tab {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#root {
	height: 100vh;
	/* margin: 0; */
	overflow-y: auto;
	/* padding: 0; */
}

/* .language-menu-item:not(:last-of-type) {
	border-bottom: 1px solid black;
}

.dark-mode.language-menu-item:not(:last-of-type) {
	border-bottom: 1px solid white;
} */
